:root {
  --primaryColor: #436681;
  --secondaryColor: #889EAF;
  --thirdColor: #D4B499;
  --whatsappColor: #25D366;
  --iconSize: 70px;
}

* {margin:0; padding:0; box-sizing:border-box;}

::selection {background-color:var(--primaryColor); color:#fff; text-shadow:none;}

body {background-image:url(../assets/img/background_main.png); background-repeat:no-repeat; background-position:right center;}

@media (max-width:768px){
  body {background-image:none;}
}

