.main {display:flex; height:100%; gap:60px; margin-top:30px;}
.module_photo {width:45%;}
.module_content {width:55%;}

@media (max-width:768px){
  .main {flex-direction:column;}
  .module_photo, .module_content {width:100%;}
}